/*NAVIGATION BLOCK*/
nav {
  @extend %sanspro, %bold;
  display: inline-block;
  width: 570px;
  height: 100px;
  ul {
    height: 100px;
    margin: 0;
    padding: 0 0 0 20px;
    li {
      float: left;
      padding-right: 24px;
      list-style-type: none;
      &:first-child {
        padding-right: 25px;
        a {
          color: $sky-color;
        }
        &::before {
          content: '';
          padding-left: 0;
          border: none;
        }
      }
      &::before {
        content: '';
        padding-right: 28px;
        border-left: solid $border-color 1px;
      }
      a {
        line-height: 98px;
        font-size: 16px;
        letter-spacing: 0.55px;
        text-align: center;
        color: $bgrey-color;
        &:hover {
          color: $sky-color;
        }
      }
    }
  }
}