/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/*end reset*/

/*APP*/
#root {
  width: 100%;
  height: 100%;
}

/*LOGIN PAGE*/
.login {
  width: 300px;
  height: 150px;
  border: 1px solid black;
  border-radius: 5px;
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.login__input {
  width: 70%;
  display: block;
  margin: 3px auto;
}
.login__button-box__button {
  width: 70%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.login__button {
  width: 35%;
}

.navigation {
  justify-content: space-between;
}
.navigation__logo {
  width: 100px;
  height: 50px;
  display: inline-block;
  background-color: blue;
}
.navigation__button {

}

/*PERSONAL CABINET PAGE*/
.user-cabinet {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 300px;
}
.user-cabinet div {
  height: 30px;
}
.user-cabinet__title {
  font-size: 25px;
  margin: 0 auto;
}
.user-cabinet__name {
  background-color: tomato;
}
.user-cabinet__second-name {
  background-color: chocolate;
}
.user-cabinet__email {
  background-color: deepskyblue;
}
.user-cabinet__ip {
  background-color: coral;
}

/*TICKETS PAGE*/
.tickets-list {

}
.frame {
  display: block;
}