@import url('https://fonts.googleapis.com/css?family=Lato:300,400,900');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,900');

%sanspro {
  font-family: 'Source Sans Pro', sans-serif;
}

%lato {
  font-family: 'Lato', sans-serif;
}

%awesome {
  font-family: FontAwesome, sans-serif;
}

%light {
  font-weight: 300;
}

%regular {
  font-weight: 400;
}

%bold {
  font-weight: 700;
}

%black {
  font-weight: 900;
}