/*VARIABLES*/
/*COLORS*/
$white-color: #fff;
$bwhite-color: #f1f1f1;
$rwhite-color: #ececec;
$lgrey-color: #929292;
$rgrey-color: #8b8b8b;
$bgrey-color: #787878;
$border-color: #e7e7e7;
$orange-color: #f88b7d;
$sky-color: #6dc5dd;
$gb-color: #003d48;