/*FIRST ROW*/
.row-1 {
  height: 270px;
  background: $sky-color;
}

.flag {
  background: url(../img/flag.png) no-repeat 28px 57px;
}
.camera {
  background: url(../img/camera.png) no-repeat 28px 57px;
}
.home {
  background: url(../img/home.png) no-repeat 28px 57px;
}