/*THIRD ROW*/
.row-3 {
  height: 151px;
  padding: 56px 250px 0 250px;
  text-align: center;
  background: $orange-color;
  color: $white-color;
  p {
    &:nth-child(1) {
      @extend %sanspro, %bold;
      margin: 0;
      line-height: 28.8px;
      font-size: 32px;
    }
    &:nth-child(2) {
      @extend %sanspro, %light;
      margin-top: 12px;
      line-height: 28.8px;
      font-size: 18px;
    }
  }
}