/*FOURTH ROW*/
.row-4 {
  height: 645px;
  background: $white-color;
  .row4__wrapper {
    width: 1110px;
    height: 645px;
    margin: 0 auto;
    .row4__title {
      @extend %sanspro, %bold;
      padding: 54px 0 27px 0;
      border-bottom: 1px solid #dbdbdb;
      text-align: center;
      line-height: 28.8px;
      font-size: 32px;
      color: #003d48;
    }
    .row4__description {
      @extend %sanspro, %light;
      height: 40px;
      padding: 10px 0 0 0;
      border-bottom: 1px solid #dbdbdb;
      text-align: center;
      font-size: 22px;
      line-height: 28.8px;
      color: $sky-color;
    }
    .row4__left-block {
      display: inline-block;
      width: 570px;
      height: 390px;
      padding-top: 40px;
    }
  }
}
.row4__right-block {
  float: right;
  display: inline-block;
  width: 540px;
  height: 390px;
  padding: 40px 0 0 0;
}