.row3-text {
    height: 151px;
    padding: 56px 250px 0 250px;
    text-align: center;
    background: #f77462;
    color: #fff;
}

.row3-text p:nth-child(1) {
    margin: 0;
    line-height: 28.8px;
    font-size: 32px;
}

.row3-text p:nth-child(2) {
    margin-top: 12px;
    line-height: 28.8px;
    font-size: 18px;
}
/*HTML CSS*/